<%- include partials/headear.ejs %>

    <body>

        <div class="container">

            <div class="card" id="formulario-pergunta">
                <div class="card-header">
                    <h1>Faça sua pergunta</h1>
                </div>

                <div class="card-body">
                    <form action="">
                        <label for="Titulo">Titulo</label>
                        <input type="text" placeholders="Titulo" class="form-control">
                        <br>
                        <label for="Descricao">Descricao</label>
                        <textarea placeholder="Descreva sua pergunta aqui" class="form-control"></textarea>
                        <br>
                        <button class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>

        </div>

    </body>

    <%- include partials/footer.ejs %>